ctgan==0.7.3
sdv==1.2.1



# 회사 패키지 버전

# catboost == 1.1.1
# keras == 2.11.0
# lightgbm == 3.1.1
# mlflow == 1.13.1
# numpy == 1.23.5
# pandas == 1.2.1
# pickleshare == 0.7.5

# pytorch-lightining == 1.2.10 -> 없음
# tensorflow == 2.11.0
# scikit-learn == 0.23.2
# torch == 1.13.1

# sklearn == 0.0 -> 없음

# tqdm == 4.64.1  
